---
BasedOnStyle: Google

# Base
IndentWidth: 4
UseTab: Never
ColumnLimit: "80"
MaxEmptyLinesToKeep: "1"
BreakBeforeBraces: Allman

# Class definition
AccessModifierOffset: -4

# Constructor initializer list style
ConstructorInitializerAllOnOneLineOrOnePerLine: "false"
BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma
ConstructorInitializerIndentWidth: "0"

# Use T<pair<int, int>> instead of T<pair<int, int> >
Standard: Cpp11

# Pointer and reference alignment
PointerAlignment: Left

# namespace
NamespaceIndentation: All

AlignConsecutiveMacros: "true"
AlignConsecutiveAssignments: "false"
AlignConsecutiveDeclarations: "false"
AlignEscapedNewlines: Left
AlignOperands: "true"
AlignTrailingComments: "true"

AllowShortBlocksOnASingleLine: "false"
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: "false"
AlwaysBreakBeforeMultilineStrings: "false"
AlwaysBreakTemplateDeclarations: "Yes"

BinPackArguments: "false"
BinPackParameters: "false"

BreakBeforeBinaryOperators: None
BreakBeforeTernaryOperators: "true"

Cpp11BracedListStyle: "true"
IncludeBlocks: Merge
IndentPPDirectives: BeforeHash
JavaScriptQuotes: Double
JavaScriptWrapImports: "true"
KeepEmptyLinesAtTheStartOfBlocks: "false"
ReflowComments: "true"
SortIncludes: "true"
SortUsingDeclarations: "true"

SpaceAfterCStyleCast: "false"
SpaceAfterLogicalNot: "false"
SpaceAfterTemplateKeyword: "true"
SpaceBeforeAssignmentOperators: "true"
SpaceBeforeCpp11BracedList: "false"
SpaceBeforeCtorInitializerColon: "false"
SpaceBeforeInheritanceColon: "true"
SpaceBeforeRangeBasedForLoopColon: "true"
SpaceInEmptyParentheses: "false"
SpacesInAngles: "false"
SpacesInCStyleCastParentheses: "false"
SpacesInContainerLiterals: "false"
SpacesInParentheses: "false"
SpacesInSquareBrackets: "false"
# https://zed0.co.uk/clang-format-configurator/
